absl-py==1.1.0
addict==2.4.0
cachetools==5.2.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
cycler==0.11.0
fonttools==4.33.3
future==0.18.2
google-auth==2.8.0
google-auth-oauthlib==0.4.6
grpcio==1.46.3
idna==3.3
importlib-metadata==4.11.4
kiwisolver==1.4.3
Markdown==3.3.7
matplotlib==3.5.2
-e git+https://github.com/w-sugar/DTC_AICITY2022@c6ebe255c6b3a384375fb83d82e7ad21b58be28a#egg=mmcls&subdirectory=mmclassification
mmcv-full==1.4.3
-e git+https://github.com/w-sugar/DTC_AICITY2022@c6ebe255c6b3a384375fb83d82e7ad21b58be28a#egg=mmdet&subdirectory=mmdetection
numpy==1.21.6
oauthlib==3.2.0
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.1.1
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.0
requests-oauthlib==1.3.1
rsa==4.8
six==1.16.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminaltables==3.1.10
torch==1.10.1+cu102
torchaudio==0.10.1+rocm4.1
torchvision==0.11.2+cu102
typing_extensions==4.2.0
urllib3==1.26.9
Werkzeug==2.1.2
yapf==0.32.0
zipp==3.8.0
